:root {
  --y-translate: 0.3rem;
  --x-translate: 0.15rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.pile {
  display: grid;

  >div {
    grid-area: 1/1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    transition: all 0.15s;

    &:nth-child(1) {
      order: 1;
      rotate: 0deg;
    }

    &:nth-child(2) {
      order: -1;
      rotate: -3deg;
      translate: calc(-1 * var(--x-translate)) calc(-1 * var(--y-translate));
    }

    &:nth-child(3) {
      order: -2;
      rotate: 5deg;
      translate: calc(1 * var(--x-translate)) calc(-1 * var(--y-translate));
    }
  }
}

.folder {
  @apply flex flex-col gap-2 cursor-pointer;

  h3 {
    @apply text-lg font-medium;
  }

  &:hover {
    --x-translate: 0.75rem;
    --y-translate: 1rem;
  }
}

.thumbnail {
  @apply rounded-xl overflow-hidden;
}

.folder-list {
  display: flex;
}