:root {
  --y-translate: 0.3rem;
  --x-translate: 0.15rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  display: block;
}

.pile {
  display: grid;

  >div {
    grid-area: 1/1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    transition: all 0.15s;

    &:nth-child(1) {
      order: 1;
      rotate: 0deg;
    }

    &:nth-child(2) {
      order: -1;
      rotate: -3deg;
      translate: calc(-1 * var(--x-translate)) calc(-1 * var(--y-translate));
    }

    &:nth-child(3) {
      order: -2;
      rotate: 5deg;
      translate: calc(1 * var(--x-translate)) calc(-1 * var(--y-translate));
    }
  }
}

.folder {
  cursor: pointer;

  &:hover {
    --x-translate: 0.75rem;
    --y-translate: 0.5rem;
  }
}

.thumbnail {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}